<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add List</title>
</head>
<body>
  <p>List : {{list['title']}}</p>
  <li>Date : {{list['date']}}</li>
      <form action="" method="POST">
        <label>New Date</label>
        <input type="text" name="date">
    <li>Time : {{list['time']}}</li>
        <label>New Time</label>
        <input type="text" name="time">
          <li><button type="submit">Change</button></li>
    </form>
        <p><a href="/">Return</a></p>
</body>
</html>